{% extends 'Main/base.html' %}   
  
{% block title %}
    Blog
{% endblock title %}
{% block title_content %}
    Lista de publicaciones
{% endblock title_content %}
{% block content %}

    <a href="{% url 'blog:post_create' %}" class="btn btn-primary mb-3">Crear publicación</a>

    <form action="{% url 'blog:post_list' %}" method="get" class="form-inline justify-content-end mb-3">
        <input type="text" name="busqueda" placeholder="Buscar..." type="submit"
        class="form-control mb-3">

    </form>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <th>Título</th>
                <th>Autor</th>
                <th>Fecha de publicación</th>
                <th>Estado</th>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.titulo }}</td>
                        <td>{{ post.contenido }}</td>
                        <td>{{ post.fecha_publicacion }}</td>
                        {% if post.estado == "B" %}
                            <td>Borrador</td>
                        {% else %}
                            <td><strong>Publicado</strong></td>
                        {% endif %}    
                        <td>
                            <a href="{% url 'blog:post_detail' post.id%}" class="btn btn-info btn-sm">Detalle</a>
                            <a href="{% url 'blog:post_update' post.id%}" class="btn btn-warning btn-sm">Cambiar</a>
                            <a href="{% url 'blog:post_delete' post.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
   
